<%- include("partials/header_home"); -%>
    <div class="banner-image image-container" style="background-color: #F2F2F2">
        <img src="image/doggo3.jpg" class="my_image_class" alt="">
        <div class="centered">
            <div id="banner-text1" class="centered">The place to find a perfect partner for your pet</div>
            <div id="banner-text2">Matchimal</div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="banner-bottom-row">
            <div class="col-lg-4 col-sm-4 col-12 banner-bottom-row-adjust">
                <h5>Who are we?</h5>
                <h4>We will help you find a perfect partner for your pet in nearby area.</h4>
            </div>
            <div class="col-lg-4 col-sm-4 col-12 banner-bottom-row-adjust">
                <h5>Why us?</h5>
                <h4>Because we are simple and reliable. We help you connect to verified users.</h4>
            </div>
            <div class="col-lg-4 col-sm-4 col-12 banner-bottom-row-adjust">
                <h5>Our Speciality?</h5>
                <h4>You get to choose from many available options.</h4>
            </div>
        </div>
    </div>
    <h1 style="color : #0E2D68; font-weight: bold; font-size: 3rem" id="aust-cse">Our Speciality</h1>
    <div class="container-fluid fixed-padding" style="padding: 40px; background-color: #FCF8EC">
        <div class="row" style="margin-left:15px ; margin-top: 10px; margin-bottom: 10px;">
            <div class="col-lg-4 col-sm-4  d-flex align-items-stretch">
                <div class="box">
                    <h5>Easy to Connect</h5>
                    <p>You can connect to other users via a messenger. No need to any external communication methods.
                        You can connect to other users via a messenger. No need to any external communication methods.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4  d-flex align-items-stretch">
                <div class="box">
                    <h5>True Cloud Scale</h5>
                    <p>Working with customers making 100-40,000 hires per annum.
                        Working with customers making 100-40,000 hires per annum</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4  d-flex align-items-stretch">
                <div class="box">
                    <h5>Verified Users</h5>
                    <p>All of our customes data are verified.
                        So you don't have to ever worry about being scammed. If you find yourself a suitable match.
                        Don't hesitate to reach out!
                    </p>
                </div>
            </div>
        </div>
    </div>


    <h1 style="color : #0E2D68; font-weight: bold; font-size: 3rem;
    margin-bottom:50px;margin-top:30px" id="aust-cse">A Glimpse of our Happy Customers</h1>
    <div class="container-fluid fixed-padding" style="background-color: #FFD1AB">
        <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
            <div class="col-sm-12 col-md-6 col-lg-4 d-flex align-items-stretch">
                <div class="box2">
                    <h5>Sadia Rahman Priota</h5>
                    <p>I just can't thank Matchimal enough. It helped my pet find a partner and it looks happier than
                        before.
                        It was a very hard task to find a partner for my pet but now Matchimal just made life easier.
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 d-flex align-items-stretch">
                <div class="box2">
                    <img src="image/owner1.jpg" alt="">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 d-flex align-items-stretch">
                <div class="box2">
                    <h5>Fahim Sharirar Arnob</h5>
                    <p>Finding a partner for your pet is no easy task. Matchimal just made life better for my pet.
                        Hoping to see it grow more and reach more people.</p>
                </div>
            </div>
            <div class=" col-sm-12 col-md-6 col-lg-4 d-flex align-items-stretch">
                <div class="box2">
                    <img src="image/owner2.jpg" alt="">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 d-flex align-items-stretch">
                <div class="box2">
                    <h5>Nusrat Jahan</h5>
                    <p>Most Of the other websites are just fake. Matchimal is safe and reliable. I can fully trust the
                        other
                        users. Thanks to Matchimal for making such a cool website.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 d-flex align-items-stretch">
                <div class="box2">
                    <img src="image/owner4.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <%- include("partials/footer_home"); -%>