<%- include("partials/header"); -%>
<div id="spinner_id" class="loading" style="display: none;"></div>

    <!--tabs-->
    <div class="section4">
        <div class="container">
            <h1>Update Your Profile</h1>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="about-tab" data-bs-toggle="tab" data-bs-target="#about"
                        type="button" role="tab" aria-controls="about" aria-selected="true">
                        ABOUT ME
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pets-tab" data-bs-toggle="tab" data-bs-target="#pets" type="button"
                        role="tab" aria-controls="pets" aria-selected="false">
                        MY PETS
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="add-tab" data-bs-toggle="tab" data-bs-target="#add" type="button"
                        role="tab" aria-controls="add" aria-selected="false">
                        ADD PET
                    </button>
                </li>
            </ul>
            <!--about me-->
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
                    <div class="section_box">
                        <div class="container register-form">
                            <div class="form">
                                <div class="form-content">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label class="label" for="fname">First Name*</label>
                                                <input type="text" id="firstName" placeholder="Enter Your First Name"
                                                    value="" />
                                            </div>
                                            <div class="form-group">
                                                <label class="label" for="fname">Email*</label>
                                                <input type="text" id="email" placeholder="Enter Your Email" value="" />
                                            </div>
                                            <div class="form-group">
                                                <label class="label" for="fname">Street Address</label>
                                                <input type="text" id="streetAddress"
                                                    placeholder="Enter Your Street Address" value="" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label class="label" for="fname">Last Name*</label>
                                                <input type="text" id="lastName" placeholder="Enter Your Last Name"
                                                    value="" />
                                            </div>
                                            <div class="form-group">
                                                <label class="label" for="fname">Phone Number*</label>
                                                <input type="text" id="phoneNumber-about-us"
                                                    placeholder="Enter Your Phone Number" value="" />
                                            </div>
                                            <div class="form-group">
                                                <label class="label" for="fname">City*</label>
                                                <input type="text" id="city-about-me" placeholder="Enter Your City Town"
                                                    value="" />
                                            </div>
                                        </div>
                                    </div>
                                    <input id="about-me-update-btn" type="submit" value="UPDATE" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--My pets-->
                <div class="tab-pane fade" id="pets" role="tabpanel" aria-labelledby="pets-tab">
                    <div id="my-pets-list-container" class="add-pet-parent-container">
                    </div>
                </div>
                <!--add pets-->
                <div class="tab-pane fade" id="add" role="tabpanel" aria-labelledby="add-tab">
                    <div class="section_box">
                        <div class="container register-form">
                            <div class="form">
                                <div class="form-content">
                                    <form id="form-id" onsubmit='return onPetAddClick(this)' method="post">
                                        <!-- pet image add -->
                                        <div class="d-flex flex-row justify-content-center mb-3">
                                            <div class="circular">
                                                <img id="pet_img" src="/public/image/ic_dummy_pet.png"
                                                    class="rounded-circle">
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row justify-content-center mb-4 text-center">
                                            <input type="file" name="avatar" id="img-input" style="display:none;" />
                                            <label class="choose_file"  for="img-input">Choose
                                                File</label>
                                        </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label class="label" for="fname">Pet Name*</label>
                                            <input name="petName" id="petName" type="text"
                                                placeholder="Enter Your Pet Name" />
                                        </div>
                                        <div class="form-group">
                                            <label class="label" for="fname">Recent Diagnosed Disease</label>
                                            <input name="recentDiagnosedDisease" id="recentDiagnosedDisease" type="text"
                                                placeholder="Enter Secondary Breed" />
                                        </div>
                                        <div class="form-group">
                                            <label class="label" for="fname">Recent Vaccination Date</label>
                                            <input name="vaccinationDate" id="vaccinationDate" type="date"
                                                placeholder="Enter Recent Vaccination Date" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label class="label" for="fname">Primary Breed*</label>
                                            <input name="primaryBreed" id="primaryBreed" type="text"
                                                placeholder="Enter Primary Breed" />
                                        </div>
                                        <div class="form-group">
                                            <label class="label" for="fname">Date Of Birth*</label>
                                            <input name="birthDate" id="birthDate" type="date"
                                                placeholder="Enter Date of Birth" />
                                        </div>
                                        <div class="form-group">
                                            <label class="label" for="fname">Gender*</label>
                                            <input id="gender" type="text" placeholder="Enter Your Pet's Gender"
                                                name="gender" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row0">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <label class="label label1" for="bio">Bio*</label>
                                        <textarea id="bio" type="text" id="bio" name="bio"
                                            placeholder="Enter Bio"></textarea>
                                    </div>
                                </div>
                                <input id="addPet_updateBtn" type="submit" value="ADD PET">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--end tabs-->
    <%- include("partials/footer"); -%>