<%- include("partials/header_home"); -%>
    <div class="section3">
        <div class="section3overlay">
            <h1> Match, Adopt, Mate </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In libero accumsan vel dui, imperdiet fringilla.
                Elit vehicula ipsum, vulputate imperdiet sit. Condimentum sapien tellus, eget volutpat ac augue et,
                enim. Sed risus, cursus erat habitant ullamcorper etiam bibendum nullam fusce.</p>
        </div>
    </div>

    <section id="section-3">
        <div class="container">
            <div class="row">
                <h2>AVAILABLE PETS FOR MATING</h2>

                <div class="col-md-4 col-lg-3 col-sm-6">
                    <div class="section-2-rectangle d-flex flex-column justify-content-center align-items-center">
                        <div class="section-2-content">
                            <img src="image/dummy_pet_1.png" class="section-2-img" />
                            <p style="padding-top: 10px;" class="bold-font">Pam</p>
                            <p>She is currently in a relationship with Emmy .. </p>
                        </div>
                        <div class="section-2-circle">
                            <img src="image/ic_heart.svg" alt="lock icon" />
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3 col-sm-6">
                    <div class="section-2-rectangle d-flex flex-column justify-content-center align-items-center">
                        <div class="section-2-content">
                            <img src="image/dummy_pet_2.png" class="section-2-img" />
                            <p style="padding-top: 10px;" class="bold-font">Dwight</p>
                            <p>These creatures are aggressive and they get very territorial.. </p>
                        </div>
                        <div class="section-2-circle">
                            <img src="image/ic_heart.svg" alt="lock icon" />
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3 col-sm-6">
                    <div class="section-2-rectangle d-flex flex-column justify-content-center align-items-center">
                        <div class="section-2-content">
                            <img src="image/dummy_pet_3.png" class="section-2-img" />
                            <p style="padding-top: 10px;" class="bold-font">Jim</p>
                            <p>They make sounds ranging from relatively high pitch...</p>
                        </div>
                        <div class="section-2-circle">
                            <img src="image/ic_heart.svg" alt="lock icon" />
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3 col-sm-6">
                    <div class="section-2-rectangle d-flex flex-column justify-content-center align-items-center">
                        <div class="section-2-content">
                            <img src="image/dummy_pet_4.png" class="section-2-img" />
                            <p style="padding-top: 10px;" class="bold-font">Ryan</p>
                            <p> Their heads are fairly large in comparison to their bodies...</p>
                        </div>
                        <div class="section-2-circle">
                            <img src="image/ic_heart.svg" alt="lock icon" />
                        </div>
                    </div>
                </div>





            </div>
    </section>


    <div class="section5">
        <div class="container">
            <h2>Blog Posts</h2>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <a href="https://www.humanesociety.org/resources/top-reasons-adopt-pet" target="_blank">
                        <div class="box1 ">
                            <img style="border-radius: 10px;" src="image/artical_picture1.png">
                            <h5>First time Adopting?</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Ultricies amet fames pellentesque quis mi elit.</p>
                        </div>
                    </a>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <a href="https://www.sgu.edu/blog/veterinary/tips-on-taking-care-of-animals" target="_blank">
                        <div class="box1 ">
                            <img style="border-radius: 10px;" src="image/artical_picture2.png">
                            <h5>5 Ways to take care of Pets</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Ultricies amet fames pellentesque quis mi elit.</p>
                        </div>
                    </a>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <a href="https://www.petassure.com/new-newsletters/the-importance-of-pet-vaccinations"
                        target="_blank">
                        <div class="box1 ">
                            <img style="border-radius: 10px;" src="image/artical_picture3.png">
                            <h5>Why Vaccination is Important</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Ultricies amet fames pellentesque quis mi elit.</p>
                        </div>
                    </a>

                </div>
            </div>
        </div>

    </div>
    <%- include("partials/footer_home"); -%>