<%- include("partials/header"); -%>
    <div class="section4 break-text">
        <div class="container">
            <h1>No Favourites Yet !</h1>
            <div class="position-absolute mid-center">
                <a href="/<%=userUid%>/find-matches"> <button id="find_pet_btn" type="button" class="btn btn-primary">Find a Pet!</button> </a>
            </div>
        </div>
    </div>
    <%- include("partials/footer"); -%>
