<%- include("partials/header_no_nav"); -%>
    <div class="section1">
        <div class="container register-form">
            <div class="form">
                <div class="form-content ">
                    <h2 class="sign-up-h2">Sign Up</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="sign-up-input" id="first_name_field" type="text" class="first_name"
                                    placeholder="First Name" value="" />
                            </div>
                            <div class="form-group">
                                <input class="sign-up-input" id="country_field" type="text" class="country"
                                    placeholder="Country" value="" />
                            </div>
                            <div class="form-group">
                                <input id="phone_number_field" type="text" class="phone_number sign-up-input"
                                    placeholder="Phone Number" value="" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="last_name_field" type="text" class="Last_name sign-up-input"
                                    placeholder="Last Name" value="" />
                            </div>
                            <div class="form-group">
                                <input class="sign-up-input" id="email_field" type="email" class="postal_code"
                                    placeholder="Email" value="" />
                            </div>
                            <div class="form-group">
                                <input class="sign-up-password" id="password_field" type="password" class="password"
                                    placeholder="Password" value="" />
                            </div>
                        </div>
                    </div>

                    <a onclick="signUp()" href="#" class="new-container custom-sign-up-button">Sign Up</a>

                    <div class="container-fluid adjust">
                        <div class="col-sm-4 ContinueWith">


                        </div>
                        <!-- <div class="col-lg-3 col-md-3 col-sm-3 signIn"> SAMIA's BUTTON REMOVED
                        <button type="button" class="input-button btn btn-outline-dark">Google</button>
                    </div> -->
                        <!--CHANGED TO THIS -->

                    </div>
                    <div class="">
                        <h5> Continue with:</h5>
                    </div>
                    <div style="text-align: center; margin-top:30px" class="container-fluid">
                        <a href="#" class="google-btn">GOOGLE</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <%- include("partials/footer_no_nav"); -%>