*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #F2F2F2;
}
h2{
	color: #333333;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
}


.section1{
	margin-top: 60px;
	font-family: 'Saira Semi Condensed', sans-serif;
}
.section1 .container {
	border-radius: 10px;
	background-color: #FFFFFF;
	padding: 20px;
}

.label{
	color: #EA5455;
	font-weight: bold;
	font-size: 22px;
}


input[type=text], select, textarea ,input[type=password] {
	width: 50%;
	padding: 12px;
	border: 2px solid #EA5455;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	margin-left: 25%;
	margin-right: 25%;

}

input[type=login] {
	background-color: #EA5455;
	color: white;
	border: none;
	text-align: center;
	border-radius: 25px;
	cursor: pointer;
	font-size: 22px;
	margin-bottom: 20px;
	margin-left: 25%;
	margin-right: 25%;
}

input[type=login]:hover {
	background-color: #F67576;
}


.section1 .nav-link{
	color: #FFD96A;

}


.nav-link:hover{
	color: #EA5455;

}

.forgotPassword{
	text-align: center;
	text-decoration-line: underline;
}
h5{
	text-align: center;
	color: #333333;
}

.btn{
	color: #EA5455;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}
.btn-outline-dark{
	border-radius: 25px;
    border: 2px solid #EA5455;
    width: 25%;

}


@media (max-width: 575px) {
	input[type=login] {

		padding: 5px 0px;
	}
	.section1{
		margin:15px;
	}

} 
@media (min-width: 576px) and (max-width: 767px) { 
	input[type=login] {

		padding: 5px 2px;
	}

}

@media (min-width : 767px) and (max-width:991px){
	input[type=login] {

		padding: 5px 48px;
	}

}
@media (min-width : 991px) and (max-width:1200px){
	input[type=login] {

		padding: 5px 108px;
	}

}
@media (min-width: 1200px){
	input[type=login] {

		padding: 5px 152px;
	}

	
}
