* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f2f2f2;
  }
  
  :root {
    --color-blue: #54bce7;
    --color-ash: #f0f0f0;
    --color-dark-ash: #1f232c;
    --color-red: #ea5455;
    --color-black-ash: #333333;
  }

  /* nav bar */
  .bs-example {
    background-color: var(--color-red);
    padding: 0px 30px;
    height: 60px;
  }
  .bg-light {
    background-color: #ea5455 !important;
    padding: 0px 30px;
    height: 60px;
  }
  
  .navbar-light .navbar-brand {
    color: #ffffff;
    font-family: "Shadows Into Light", cursive;
    font-size: 40px;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    font-family: "Saira Semi Condensed", sans-serif;
    padding: 0px 40px;
  }
  .navbar-light .navbar-nav .nav-link img {
    width: 30px;
    height: 30px;
    color: white;
  }
  /* * */
  
  .section4 .container {
    height: 780px;
    background-color: #ffffff;
    margin-top: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }
  
  .section4 {
    position: relative;
  }
  
  .mid-center {
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .btn-primary {
    background-color: var(--color-red);
    border-color: var(--color-red);
  }
  h1 {
    color: #ea5455;
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
  }
  
  .button {
    margin-top: 40%;
    margin-left: -20%;
  }
  
  .section6 {
    background-color: #f67576;
    height: 70px;
    text-align: center;
    margin-top: 60px;
  }
  .section6 img {
    width: 100%;
    margin: 10px 420px;
  }
  
  .section7 {
    background-color: #ea5455;
    height: 70px;
    text-align: center;
    font-family: "Saira Semi Condensed", sans-serif;
  }
  
  .section7 h1 {
    color: #ffffff;
    font-size: 25px;
    padding-top: 25px;
  }
  
  .section2-my-likes {
  border-radius: 10px;
  background-color: #ffffff;
  padding: 20px;
  max-width: 95%;
  margin: 5%;
}

.section-1 {
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  padding-top: 28%;
}

.section-2-circle {
  position: absolute;
  width: 60px;
  height: 60px;
  text-align: center;
  left: 50%;
  margin-left: -30px;
  bottom: -30px;
  border-radius: 50%;
  background-color: var(--color-ash);
  justify-content: center;
  display: flex;
  align-items: center;
}

.section-2-circle:hover {
  position: absolute;
  width: 60px;
  height: 60px;
  text-align: center;
  left: 50%;
  margin-left: -30px;
  bottom: -30px;
  border-radius: 50%;
  background-color: #d1d1d1;
  justify-content: center;
  display: flex;
  align-items: center;
}

.section-2-rectangle {
  display: block;
  background: white;
  position: relative;
  padding-top: 15px;
  padding: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 300px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 39px -21px rgba(0, 0, 0, 0.95);
  box-shadow: 0px 0px 39px -21px rgba(0, 0, 0, 0.95);
}

.section2 {
  border-radius: 10px;
  background-color: white;
  padding: 20px;
}

.section-2-content {
  margin-top: 10px;
  text-align: center;
  padding: 5px;
}

.section-2-img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-top: -20px;
}

.form-control {
  border-color: var(--color-red);
  color: var(--color-black-ash);
  margin-bottom: 15%;

}

.dropdown{
  margin-bottom: -15%;
}

#section-3 {
  padding: 30px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.section-3-box {
  height: 350px;
  width: 100%;
  text-align: center;
  color: white;
}

.section-3-box-1 {
  padding: 30px;
  border-color: white;
  border-width: medium;
  border-style: solid;
}

.section-3-img-box {
  height: 350px;
  object-fit: cover;
  width: 100%;
}

#section-4 {
  background-color: var(--color-ash);
  padding: 100px;
}

.section4-no-likes .container{
  height: 780px;
  background-color: #FFFFFF;
  margin-top: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.section4-no-likes {
  position: relative;
}

.mid-center-no-likes {
  top: 55%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.section-4-header {
  text-align: center;
  padding: 20px;
}

.section-4-box-body {
  text-align: center;
  padding: 50px;
  flex: 1 1 auto;
}

#section-5 {
  background-color: var(--color-dark-ash);
  padding: 40px;
  color: white;
}

.heart-icon {
  text-align: center;
}
h2 {
  text-align: center;
  color: #ea5455;
  font-weight: bold;
  font-family: "Saira Semi Condensed", sans-serif;
}
.section7 {
  background-color: #ea5455;
  height: 70px;
  text-align: center;
  font-family: "Saira Semi Condensed", sans-serif;
}
.section6 {
  background-color: #f67576;
  height: 70px;
  text-align: center;
  margin-top: 100px;
}
.section7 h1 {
  color: #ffffff;
  font-size: 25px;
  padding-top: 25px;
}

.section6 img {
  width: 100%;
  margin: 10px 420px;
}
