<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@300;400;500;600;700&family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="css/tab1.css"/>
  <title>Send successfully</title>
</head>
<body>
  <div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a href="#" class="navbar-brand">MATCHIMAL</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a href="#" class="nav-link">FIND MATCHES</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">BLOG</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">INBOX</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">MY LIKES</a>
          </li>

        </ul>
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> <img src="image/profile_icon.png"> </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="#" class="dropdown-item">Edit Profile</a>
              <a href="#" class="dropdown-item">Settings</a>
              <div class="dropdown-divider"></div>
              <a href="#"class="dropdown-item logout">Log Out</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

  </div>

  <!--tabs-->
  <div class="section4">
    <div class="container">
      <h1>Update Your Profile</h1>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="about-tab" data-bs-toggle="tab" data-bs-target="#about" type="button" role="tab" aria-controls="about" aria-selected="true">ABOUT ME</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pets-tab" data-bs-toggle="tab" data-bs-target="#pets" type="button" role="tab" aria-controls="pets" aria-selected="false">MY PETS</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="add-tab" data-bs-toggle="tab" data-bs-target="#add" type="button" role="tab" aria-controls="add" aria-selected="false">ADD PET</button>
        </li>
      </ul>
      <!--about me-->
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
          <div class="section_box"> 
           <div class="container register-form">

            <div class="form">

              <div class="form-content">


                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <label  class="label" for="fname">First Name</label>

                      <input type="text" class="first_name" placeholder="Enter Your First Name" value=""/>
                    </div>
                    <div class="form-group">
                      <label  class="label" for="fname">Email</label>

                      <input type="text" class="country" placeholder="Enter Your Email" value=""/>
                    </div>
                    <div class="form-group">
                      <label  class="label" for="fname">Street Address</label>

                      <input type="text" class="phone_number" placeholder="Enter Your Street Address" value=""/>
                    </div>
                    <div class="form-group">
                     <label  class="label" for="fname">Country</label>

                     <input type="password" class="password" placeholder="Enter Your Country" value=""/>
                   </div>
                 </div>

                 <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group">
                    <label  class="label" for="fname">Last Name</label>

                    <input type="text" class="Last_name" placeholder="Enter Your Last Name" value=""/>
                  </div>
                  <div class="form-group">
                   <label  class="label" for="fname">Phone Number</label>

                   <input type="text" class="postal_code" placeholder="Enter Your Phone Number" value=""/>
                 </div>
                 <div class="form-group">
                   <label  class="label" for="fname">CityTown</label>

                   <input type="password" class="password" placeholder="Enter Your City Town" value=""/>
                 </div>
                 <div class="form-group">
                   <label  class="label" for="fname">ZIP Code</label>

                   <input type="password" class="password" placeholder="Enter Your Zip" value=""/>
                 </div>
               </div>

             </div>
             <input type="button" value="UPDATE">


           </div>
         </div>
       </div>




     </div>

   </div>

   <!--My pets-->
   <div class="tab-pane fade" id="pets" role="tabpanel" aria-labelledby="pets-tab">
     <div class="section_box"> <h1>okok11</h1></div>

   </div>
   <!--add pets-->

   <div class="tab-pane fade" id="add" role="tabpanel" aria-labelledby="add-tab">
    <div class="section_box"> 
     <div class="container register-form">

      <div class="form">

        <div class="form-content">


          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="form-group">
                <label  class="label" for="fname">Pet Name</label>

                <input type="text" class="first_name" placeholder="Enter Your Pet Name" value=""/>
              </div>
              <div class="form-group">
                <label  class="label" for="fname">Secondary Breed (if any)</label>

                <input type="text" class="country" placeholder="Enter Secondary Breed" value=""/>
              </div>
              <div class="form-group">
                <label  class="label" for="fname">Recent Vaccination Date</label>

                <input type="text" class="phone_number" placeholder="Enter Recent Vaccination Date" value=""/>
              </div>

            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="form-group">
                <label  class="label" for="fname">Last Name</label>

                <input type="text" class="Last_name" placeholder="Enter Your Last Name" value=""/>
              </div>
              <div class="form-group">
               <label  class="label" for="fname">Phone Number</label>

               <input type="text" class="postal_code" placeholder="Enter Your Phone Number" value=""/>
             </div>
             <div class="form-group">
               <label  class="label" for="fname">CityTown</label>

               <input type="text" class="password" placeholder="Enter Your City Town" value=""/>
             </div>

           </div>

         </div>
         <div class="form-group row0">
          <div class="col-lg-12 col-md-12 col-sm-12">
           <label class="label label1" for="message">Bio</label>
           <textarea class="bio" id="message" name="message" placeholder="Enter bio" style="height:200px"></textarea>

         </div>
       </div>
       <input type="button" value="UPDATE">


     </div>
   </div>
 </div>

</div>

</div>
</div>



</div>
</div>
<!--end tabs-->



<footer style="background-color:#F67576; margin-top:200px;" class="text-center">

    <div class="container p-4 pb-0" style="margin-bottom:15px;">
        <i class="fa fa-facebook-square" style="font-size:40px;color:white; margin-left:20px"></i>
        <i class="fa fa-twitter-square" style="font-size:40px;color:white; margin-left:20px"></i>
        <i class="fa fa-instagram" style="font-size:40px;color:white; margin-left:20px"></i>
    </div>

    <div class="text-white text-center p-3" style="background-color:#EA5455 ">
      © 2020 Copyright:
      <a class="text-white" href="">All Rights Reserved.</a>
    </div>
    <!-- Copyright -->
  </footer>





<!--JS--->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>