<!doctype html>
<html lang="en">
<!-- @PROBLEMS:
1. In section 2, the rectangles are all hardcoded. Is there any way to make them dynamic? so that no matter the size of texts
   it will all be the same height -->

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- custom CSS styles -->
  <link rel="stylesheet" href="css/pet_list_style.css" />
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- Montserrat font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;800;900&display=swap"
    rel="stylesheet">

  <title>Available Pets</title>
</head>

<body style="font-family: Montserrat;">

  <!-- header -->
  <div>
    <h1 class="title-text">AUST CSE</h1>
  </div>


  <!-- section - 3 -->
  <section id="section-3">
    <div class="container">
      <div class="row">

        <div class="col-md-4 col-lg-3 col-sm-6">
          <div class="section-2-rectangle d-flex flex-column justify-content-center align-items-center">
            <div class="section-2-content">
              <img src="image/ic_dummy_pet.png" class="section-2-img" />
              <p style="padding-top: 10px;" class="bold-font">Highly Secure</p>
              <p>Cloud based services can offer our customers single tenant dedicated environments</p>
            </div>
            <div class="section-2-circle">
              <img src="image/ic_heart.svg" alt="lock icon" />
            </div>
          </div>
        </div>

        <div class="col-md-4 col-lg-3 col-sm-6">
          <div class="section-2-rectangle d-flex flex-column justify-content-center align-items-center">
            <div class="section-2-content">
              <img src="image/ic_dummy_pet.png" class="section-2-img" />
              <p style="padding-top: 10px;" class="bold-font">Highly Secure</p>
              <p>Cloud based services can offer our customers single tenant dedicated environments</p>
            </div>
            <div class="section-2-circle">
              <img src="image/ic_heart.svg" alt="lock icon" />
            </div>
          </div>
        </div>

        <div class="col-md-4 col-lg-3 col-sm-6">
          <div class="section-2-rectangle d-flex flex-column justify-content-center align-items-center">
            <div class="section-2-content">
              <img src="image/ic_dummy_pet.png" class="section-2-img" />
              <p style="padding-top: 10px;" class="bold-font">Highly Secure</p>
              <p>Cloud based services can offer our customers single tenant dedicated environments</p>
            </div>
            <div class="section-2-circle">
              <img src="image/ic_heart.svg" alt="lock icon" />
            </div>
          </div>
        </div>

        <div class="col-md-4 col-lg-3 col-sm-6">
          <div class="section-2-rectangle d-flex flex-column justify-content-center align-items-center">
            <div class="section-2-content">
              <img src="image/ic_dummy_pet.png" class="section-2-img" />
              <p style="padding-top: 10px;" class="bold-font">Highly Secure</p>
              <p>Cloud based services can offer our customers single tenant dedicated environments</p>
            </div>
            <div class="section-2-circle">
              <img src="image/ic_heart.svg" alt="lock icon" />
            </div>
          </div>
        </div>

        <div class="col-md-4 col-lg-3 col-sm-6">
          <div class="section-2-rectangle d-flex flex-column justify-content-center align-items-center">
            <div class="section-2-content">
              <img src="image/ic_dummy_pet.png" class="section-2-img" />
              <p style="padding-top: 10px;" class="bold-font">Highly Secure</p>
              <p>Cloud based services can offer our customers single tenant dedicated environments</p>
            </div>
            <div class="section-2-circle">
              <img src="image/ic_heart.svg" alt="lock icon" />
            </div>
          </div>
        </div>

        <div class="col-md-4 col-lg-3 col-sm-6">
          <div class="section-2-rectangle d-flex flex-column justify-content-center align-items-center">
            <div class="section-2-content">
              <img src="image/ic_dummy_pet.png" class="section-2-img" />
              <p style="padding-top: 10px;" class="bold-font">Highly Secure</p>
              <p>lorem epsum chocolate cake good</p>
            </div>
            <div class="section-2-circle">
              <img src="image/ic_heart.svg" alt="lock icon" />
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 col-sm-6">
          <div class="section-2-rectangle d-flex flex-column justify-content-center align-items-center">
            <div class="section-2-content">
              <img src="image/ic_dummy_pet.png" class="section-2-img" />
              <p style="padding-top: 10px;" class="bold-font">Highly Secure</p>
              <p>lorem epsum chocolate cake good</p>
            </div>
            <div class="section-2-circle">
              <img src="image/ic_heart.svg" alt="lock icon" />
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>


  <section id="section-5">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h5 style="font-size: 0.8em">© Copyright 2021. All Rights Reserved</h5>
    </div>
  </section>


</body>

</html>