<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@300;400;500;600;700&family=Shadows+Into+Light&display=swap"
		rel="stylesheet">
	<!-- Bootstrap theme -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
	<link rel="stylesheet" href="css/home_style.css" />
	<title>HomePage</title>
</head>

<body>
	<div class="section1">
		<ul class="nav">
			<li class="nav-item logo">
				<a class="nav-link active" href="/">Matchimal</a>
			</li>
			<li class="nav-item login">
				<a class="nav-link active" href="/login">LOGIN</a>
			</li>
		</ul>
	</div>
	<div class="section2">
		<ul class="nav justify-content-end">
			<li class="nav-item">
				<a class="nav-link active" href="/about-us">ABOUT US</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="/team">TEAM</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="/contact">CONTACT</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="/sign-up">SIGN UP</a>
			</li>

		</ul>
	</div>
	<div class="section3">
		<div class="section3overlay">
			<h1> Match,Adopt,Love </h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In libero accumsan vel dui, imperdiet fringilla.
				Elit vehicula ipsum, vulputate imperdiet sit. Condimentum sapien tellus, eget volutpat ac augue et,
				enim. Sed risus, cursus erat habitant ullamcorper etiam bibendum nullam fusce.</p>
		</div>

	</div>
	<section id="section-3">
		<div class="container">
			<div class="row">
				<h2>AVAILABLE PETS FOR MATING</h2>

				<div class="col-md-4 col-lg-3 col-sm-6">
					<div class="section-2-rectangle d-flex flex-column justify-content-center align-items-center">
						<div class="section-2-content">
							<img src="image/ic_dummy_pet.png" class="section-2-img" />
							<p style="padding-top: 10px;" class="bold-font">Highly Secure</p>
							<p>Cloud based services can offer our customers single tenant dedicated environments</p>
						</div>
						<div class="section-2-circle">
							<img src="image/ic_heart.svg" alt="lock icon" />
						</div>
					</div>
				</div>

				<div class="col-md-4 col-lg-3 col-sm-6">
					<div class="section-2-rectangle d-flex flex-column justify-content-center align-items-center">
						<div class="section-2-content">
							<img src="image/ic_dummy_pet.png" class="section-2-img" />
							<p style="padding-top: 10px;" class="bold-font">Highly Secure</p>
							<p>Cloud based services can offer our customers single tenant dedicated environments</p>
						</div>
						<div class="section-2-circle">
							<img src="image/ic_heart.svg" alt="lock icon" />
						</div>
					</div>
				</div>

				<div class="col-md-4 col-lg-3 col-sm-6">
					<div class="section-2-rectangle d-flex flex-column justify-content-center align-items-center">
						<div class="section-2-content">
							<img src="image/ic_dummy_pet.png" class="section-2-img" />
							<p style="padding-top: 10px;" class="bold-font">Highly Secure</p>
							<p>Cloud based services can offer our customers single tenant dedicated environments</p>
						</div>
						<div class="section-2-circle">
							<img src="image/ic_heart.svg" alt="lock icon" />
						</div>
					</div>
				</div>

				<div class="col-md-4 col-lg-3 col-sm-6">
					<div class="section-2-rectangle d-flex flex-column justify-content-center align-items-center">
						<div class="section-2-content">
							<img src="image/ic_dummy_pet.png" class="section-2-img" />
							<p style="padding-top: 10px;" class="bold-font">Highly Secure</p>
							<p>Cloud based services can offer our customers single tenant dedicated environments</p>
						</div>
						<div class="section-2-circle">
							<img src="image/ic_heart.svg" alt="lock icon" />
						</div>
					</div>
				</div>





			</div>
	</section>


	<div class="section5">
		<div class="container">
			<h2>Blog Posts</h2>

			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12">
					<a href="https://www.humanesociety.org/resources/top-reasons-adopt-pet" target="_blank">
						<div class="box1 ">
							<img src="image/artical_picture1.jpg">
							<h5>ADOPTION ARTICAL</h5>
							<p>Lorem ipsum dolor sit amet, consectetur
								adipiscing elit. Ultricies amet fames pellentesque quis mi elit.</p>
						</div>
					</a>

				</div>
				<div class="col-lg-4 col-md-4 col-sm-12">
					<a href="https://www.sgu.edu/blog/veterinary/tips-on-taking-care-of-animals" target="_blank">
						<div class="box1 ">
							<img src="image/artical_picture2.jpg">
							<h5>TAKE CARE OF PETS</h5>
							<p>Lorem ipsum dolor sit amet, consectetur
								adipiscing elit. Ultricies amet fames pellentesque quis mi elit.</p>
						</div>
					</a>

				</div>
				<div class="col-lg-4 col-md-4 col-sm-12">
					<a href="https://www.petassure.com/new-newsletters/the-importance-of-pet-vaccinations"
						target="_blank">
						<div class="box1 ">
							<img src="image/artical_picture3.jpg">
							<h5>Vaccination ARTICAL</h5>
							<p>Lorem ipsum dolor sit amet, consectetur
								adipiscing elit. Ultricies amet fames pellentesque quis mi elit.</p>
						</div>
					</a>

				</div>
			</div>
		</div>

	</div>
	<div class="section6">
		<div class="container">
			<div class="row">
				<div class="col-lg-1 col-md-1 col-sm-1">
					<img src="image/fb.png">
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1">
					<img src="image/instra.png">
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1">
					<img src="image/twitte.png">
				</div>
			</div>

		</div>

	</div>

	<div class="section7">
		<h1>&copy; Copyright 2021. All rights reserved. </h1>
	</div>
</body>

</html>